@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

.nav-wrapper {
	background-color: #607d8b;
}

nav .brand-logo {
    font-size: 1.6rem;
}

.location-field label{
    font-size: 1.4rem;
}

.row {
    margin-bottom: 0rem;
}

.inline input {
    margin-bottom: 0rem;
    font-size: 1.4rem;
}

.route-field {
    margin-top: 1.5rem;
    background: #f2f2f2;
    height: 75%;
}

.button-field {
    height: 10%;
}

.button-field a {
    background: #fafafa;
    color: #979797;
}

.button-field a:hover {
    background: #fafafa;
    color: #979797;
}

.map-field {
    height: 55%;
}

.go-this-way-button {
    background: white;
    color: #607d8a;
    height: 10%;
}